@mixin clearfix {
    &::after{
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absCenter{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

/*
Media queries
   0px -  600px  : $phone
 600px -  900px  : $tab-port
 900px - 1200px  : $tab-land
1200px - 1800px  : [normal styles apply]
1800px - inf.px  : $desktop

1em = 16px
*/

@mixin respond($size) {
    @if $size == phone {
        @media (max-width:37.5em) { @content };     //600px
    }

    @if $size == tab-port {
        @media (max-width:56.25em) { @content };    //900px
    }

    @if $size == tab-land {
        @media (max-width:75em) { @content };       //1200px
    }

    @if $size == desktop {
        @media (min-width:112.5em) { @content };    //1800px
    }
}